@media (min-width:$screen-md-min){
	// Desktop - >= 990px

	.topo{

		.faixa-branca {
			height: 118px;
			max-width: 1049px;
			margin-left: auto;
			margin-right: auto;
			z-index: 1;
		}

		&.index {
			.faixa-branca {
				margin-bottom: -118px;
			}
		}

		.brand {
			padding-top: 30px;
		}

		.center-top{
			display:flex;
			align-items:center;
		}
	}

	.menu{
		border-top: 1px solid #ddd;
	}

	#menu{
		display:flex;
		margin-left:auto;
		margin-right:auto;
		align-items: center;
		justify-content: space-between;

		height: auto!important;

		li{
			line-height: 26px;
			padding: 5px 10px;
		}
	}

	.menu-heading{
		display: none;
	}

	.flx-desktop{
		display:flex;
	}

	.col-md-20p {
		float: left;
		width: 20%;
	}

	.form-depoimentos label,
	.lista-depoimentos .depoimento label {
		text-align: right;
	}

}