footer.rodape
	.container
		h3 Entre em contato conosco
		form(action="contato.html",method="post",data-ajax="true")
			.row
				.col-md-5.col-sm-6
					.form-group
						input.form-control(type="text",name="nome",placeholder="Nome:",title="Nome",required)
					.form-group
						input.form-control(type="email",name="email",placeholder="E-mail:",title="E-mail",required)
					.form-group
						input.form-control(type="text",name="assunto",placeholder="Assunto:",title="Assunto")
				// /.col-md-5
				.col-md-7.col-sm-6
					.form-group
						textarea.form-control(name="mensagem",placeholder="Mensagem:",title="Mensagem",rows="5",required)
				// /.col-md-7
			// /.row

			.row.area-contatos
				.col-md-2.col-md-push-10
					.form-group.text-right
						button(type="submit").btn.btn-transparent Enviar
				// /.col-md-2
				.col-md-10.col-md-pull-2
					.row
						.col-sm-5.col-endereco.mgb-20
							i.icone.endereco
							div.box AV. DR. HEITOR NASCIMENTO, 196 - BLOCO B -SALA 64 #[br]
								| BAIRRO JARDIM AMÉRICA #[br]
								| PAULÍNIA - SÃO PAULO #[br]
								| CEP: 13.140-695
						// /.col-endereco
						.col-sm-3.col-telefone.mgb-20
							i.icone.telefone-rodape
							div.box (19) 3324 0185
						// /.col-telefone
						.col-sm-4.col-email.mgb-20
							i.icone.email
							div.box
								a(href="mailto:omega@omegasaude.med.br") omega@omegasaude.med.br
						// /.col-email
				// /.col-md-10
		// /form

		.creditos.text-center
			| Omega © Todos os direitos reservados.
			br
			| Criações de Sites: #[a(href="http://www.gv8.com.br",target="_blank") GV8 Sites & Sistemas]
			br
			a(href="http://www.gv8.com.br",target="_blank")
				figure.icone.gv8.mgt-10
	// /.container
// /footer.rodape