block active
	-var active = 'home'
//-block active
// ATENÇÃO PARA A CLASSE .index APENAS NA HOME
header(class=active=='home' ? 'topo index' : 'topo')
	.faixa-branca
		.row.center-top
			figure.col-md-5.brand.col-sm-4
				// LOGO :-------------------
				a(href="index.html")
					img(src="imagens/estrutural/logo.png",alt="Logo Omega").img-responsive
			// /.col-md-5
			.col-md-7.col-sm-8
				.area-contato
					span
						i.icone.telefone
						| FALE CONOSCO: (19) 3324- 0185
					a(href="#").btn.btn-custom ÁREA DO COLABORADOR

				.menu-heading
					button(type="button",data-toggle="collapse",data-target="#menu").btn.btn-mobile #[i.fa.fa-bars] MENU
				nav.menu
					ul#menu.collapse
						li(class=active=='home' ? 'active' : ''): a(href="index.html") HOME
						li(class=active=='sobre' ? 'active' : ''): a(href="sobre-nos.html") SOBRE A OMEGA
						li(class=active=='servicos' ? 'active' : ''): a(href="servicos.html") SERVIÇOS
						li(class=active=='unidades' ? 'active' : ''): a(href="unidades.html") UNIDADES
						li(class=active=='contato' ? 'active' : ''): a(href="contato.html") CONTATO
				// /nav.menu

			// /.col-md-7
		// /.row
// /header.topo