.rodape{
	background-color: #3A3A3A;
	background-image: url(../imagens/estrutural/fundo-rodape.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	font-family: 'open_sansregular', sans-serif;
	font-size: 14px;
	color: #FFF;
	padding:15px 0;

	&:before {
		background-color: $tema;
		content: '';
		display: block;
		height: 1px;
		width: 100%;
	}

	h3 {
		color: #FFF;
		font-family: 'exo_2regular', sans-serif;
		font-size: 25px;
		margin-bottom: 30px;
		position: relative;

		&:after {
			background-color: #FFF;
			display:block;
			content: '';
			height:5px;
			width: 93px;
		}
	}

	.form-group {
		margin-bottom: 4px;

		.form-control {
			border-radius: 0;
			font-size: 12px;
		}

		textarea.form-control {
			height: 110px;
		}
	}

	.area-contatos {
		margin-top: 15px;

		.icone {
			position: absolute;
		}
		.box {
			margin-left: 30px;
		}

		.col-email a {
			text-transform: uppercase;
		}

		.btn {
			color: #FFF;
			font-family: 'exo_2regular', sans-serif;
		}
	}

}