#banner{
	box-shadow: 0 2px 5px rgba(0,0,0,.3);

	.carousel-inner{
		z-index:0;
	}

	.ctrls{
		position:absolute;
		width:100%;
		height:100%;
		display:flex;
		align-items: flex-end;
		justify-content:center;
		top:0;

		a{
			position:relative;
			opacity: .7;
			z-index:4;

			&:hover {
				opacity: 1;
			}
		}

		.clearfix{
			width:1000px;
			text-align: center;
			padding-bottom:45px;
		}
	}
}

.section-header {
	margin-bottom: 17px;

	h2, h3 {
		font-family: 'open_sansregular', sans-serif;
		font-size: 20px;
	}

	&:after {
		background-color: $tema;
		content: '';
		display: block;
		width: 134px;
		height: 5px;
	}
}

div.chamada {
	text-align: justify;

	p {
		font-family: 'open_sansregular', 'Open Sans', sans-serif;
		font-size: 14px;
		line-height: 120%;
	}
}

.area-blocos {
	background-color: #FFF;
	padding-top: 10px;

	h2, h3, p {
		color: #FFF;
	}

	h3 {
		font-family: 'exo_2regular', sans-serif;
		font-size: 20px;
		margin-bottom: 12px;
		margin-top: 0;
		padding-top: 16px;

		span {
			font-size: 50px;
		}
	}

	.chamada {
		margin-bottom: 20px;
	}

	.blocos {
		@media (min-width: 768px) {
			display: flex;
			align-items: stretch;
		}

		> article {
			padding: 20px;
			margin-bottom: 31px;
		}

		.bloco-1 {
			background-color: $tema;
		}
		.bloco-2 {
			background-color: #DA2327;
			box-shadow: -5px 0 30px rgba(0,0,0,.5);
		}
		.bloco-3 {
			background-color: #B81E20;
			box-shadow: -5px 0 30px rgba(0,0,0,.5);
		}

	}

}

.area-sobre {
	background-image: url(../imagens/estrutural/fundo-area-nossa-historia.jpg);
	background-position: center top;
	box-shadow: 0 -1px 5px rgba(0,0,0,.3);
	min-height: 461px;
	padding-top: 38px;

	a.saiba-mais,
	p,
	.section-header h3 {
		color: #202020;
		margin-top: 0;
	}

	h2 {
		color: #9F2C30;
		font-size: 35px;

		span {
			font-size: 65px;
		}
	}

	.chamada p {
		font-size: 16px;
		line-height: 120%;
		margin-bottom: 35px;
	}

	a.saiba-mais {
		display: inline-block;
		font-family: 'open_sanssemibold', 'open_sansregular', sans-serif;
		font-size: 16px;

		&:after {
			background-color: $tema;
			content: '';
			display: block;
			width: 134px;
			height: 5px;
		}
	}

	figure img {
		border-radius: 50%;
		box-shadow: -10px -10px 0 #BA3337;
		margin: 60px 0;
	}
}

.area-servicos {
	background-color: $tema;
	box-shadow: 0 1px 5px rgba(0,0,0,.3) inset;
	color: #FFF;

	.section-header {
		margin-bottom: 30px;
		margin-top: 20px;

		&:after {
			background-color: #FFF;
		}
	}
}

.carousel-servicos{
	margin:40px 0 20px 0;

	.owl-item{
		padding:0 15px;
	}


	@media (min-width: 992px) {
		.owl-item.active + .owl-item.active {
			&:before {
				border-bottom: 100px solid #FFF;
				border-top: 100px solid #FFF;
				content: '';
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				transition: all .3s linear;
				width: 1px;
			}
			&:after {
				background-color: #fff;
				content: '';
				height: 1px;
				left: -35px;
				position: absolute;
				top: 50%;
				transition: all .3s linear;
				width: 70px;
			}
		}
	}

	.owl-nav {
		margin-top: 30px;
		text-align: center;
	}

	.owl-prev,
	.owl-next{
		display: inline-block;
		padding: 8px;
		cursor: pointer;
	}

	a:hover{
		color: #FFF;
		figcaption{
			opacity:1;
		}
	}
}

.carousel-servicos .item,
.lista-servicos .servico {
	font-family: 'open_sansregular', sans-serif;
	font-size:14px;

	a {
		display: block;
		max-width: 386px;
		margin-left:auto;
		margin-right:auto;
		text-align: center;
		text-decoration: none;
	}

	.btn {
		border-radius: 1px;
		width: 224px;
	}

	.foto{
		position:relative;
		margin-bottom: 10px;
		height: 130px;
		width: 386px;
		max-width: 100%;
	}

	lazyimage{
		position:absolute;
		width:100%;
		height:100%;
		overflow:hidden;
		display:flex;
		align-items:center;
		justify-content:center;
		background: url(#{$imgs}/loading.svg) center center no-repeat;
	}

	.desc {
		font-size: 14px;
		margin-bottom: 10px;
		text-align: justify;
	}

	.nome{
		font-family: 'exo_2regular', sans-serif;
		font-size: 20px;
		text-transform: uppercase;
	}
}

.lista-servicos .servico {
	margin-bottom: 40px;

	.nome {
		color: $tema;
	}
}

.area-servicos, .area-depoimentos {
	@include clearfix;
}

.area-depoimentos {
	background-image: url(../imagens/estrutural/fundo-area-depoimentos.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	position: relative;
	min-height: 349px;

	header {
		margin-bottom: 70px;
		margin-top: 30px;
		position: relative;

		h2 {
			color: #9F2C30;
			font-size: 25px;
		}

		&:after {
			content: '';
			background-color: #9F2C30;
			height: 3px;
			width: 20%;
			display: block;
			margin: 0 auto 20px auto;
		}
	}
}
.carousel-depoimentos {

	.item{
		margin-left:auto;
		margin-right:auto;
		text-align: center;

		h3 {
			color: $tema;
			font-family: 'exo_2regular', sans-serif;
			font-size: 15px;
		}
	}

	.depoimento{
		color: #222222;
		height: 68px;
		font-family: 'open_sansregular', sans-serif;
		font-size: 15px;
		line-height: 128%;
		margin-left: auto;
		margin-right: auto;
		padding: 10px 10%;
		position: relative;
		overflow: hidden;
		width: 83.33333%;

		&:before,
		&:after {
			font: normal normal normal 20px/1 FontAwesome;
			color: rgba(#202020,.5);
			position: absolute;
			top: 0;
		}
		&:before {
			left: 0;
			content: "\f10d";
		}
		&:after {
			right: 0;
			content: "\f10e";
		}
	}

	.owl-dots{
		text-align:center;
		margin-top:20px;
	}

	.owl-dot {
		border-radius: 50%;
		border: 1px solid $tema;
		cursor: pointer;
		display: inline-block;
		height: 17px;
		margin:0 10px;
		width: 17px;

		&.active {
			background-color: $tema;
		}
	}
}

.mgl-15{
	margin-left:15px;
}

#alerta{
	text-align:center;

	.modal-dialog{
		max-width: 370px;
	}

	.close-alerta{
		border:none;
		padding:none;
		background: none;
		outline:none;
		font-weight:bold;
		font-size:30px;

		.icon{
			display: block;
			margin-left:auto;
			margin-right:auto;
			margin-bottom:10px;
		}
	}
}

.border-left-grey{
	border-left:1px solid #ccc;
}


.painel{
	border:1px solid #CCC;

	.heading-painel{
		color:#FFF;
		background: $orange;
		padding:10px 15px;
	}

	.heading-painel,
	.body-painel{
		padding: 15px;
	}
}

.messages{
	position:fixed;
	top:0px;
	right:0px;
	padding:10px;
	max-width:100%;
	z-index:999;

	.alert{
		display: none;
		border-radius:0;
		padding:5px 10px;
		box-shadow:0 0 8px rgba(0,0,0,0.85);

		&.active{
			display: block;
		}

		&.alert-danger{
			background: #E53935;
			border-color: #E53935;
			color:#FFF;
		}

		&.alert-success{
			background: #4CAF50;
			border-color: #4CAF50;
			color:#FFF;
		}

		&.alert-warning{
			background: #FFC107;
			border-color: #FFC107;
			color: #000;
		}
	}
}

.lista-depoimentos .depoimento {
	border-bottom: 1px solid #FFF;
	font-size: 16px;
	margin-bottom: 20px;

	label {
		display: block;
	}
}

.internas .page-text {
	img {
		display: inline-block;
		height: auto;
		max-width: 100%;
	}

	h2, h3 {
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: #393939;
		font-size: 18px;
		margin-bottom: 15px;
		white-space: nowrap;

		&:after {
			display: inline-block;
			height: 1px;
			content: '';
			margin: 0 10px;
			width: 100%;
			background-color: $tema;
		}
	}

	p {
		font-size: 15px;
	}
}
.panel-transparent {
	&, .panel-body {
		background-color: transparent;
		border: none;
		box-shadow: none;
	}

	.panel-heading {
		background-color: $tema;
		border-radius: 5px;
		color: #FFF;
		> a {
			color: #FFF;
			font-family: 'exo_2regular', sans-serif;
			display: block;

			.fa {
				float: right;
			}
			.fa-toggle-down {
				display: none;
			}

			&.collapsed {
				.fa-toggle-up {
					display: none;
				}
				.fa-toggle-down {
					display: inline-block;
				}
			}
		}

		@media (min-width: 992px) {
			width: 50%;
		}
	}
}