a{
	color:inherit;
}

.paginacao{
	text-align: center;
}

body, p {
	font-family: 'open_sansregular', sans-serif;
}

.title-internas{
	margin:0 0 20px 0;
	font-family: 'exo_2regular', sans-serif;
	font-size:18px;
	position: relative;

	&:before {
		background-color: #FFF;
		display: block;
		height: 4px;
		width: 54px;
		margin-bottom: 10px;
		content: '';
	}
}

.page-header {
	background-image: url(../imagens/estrutural/fundo-page-header.png);
	background-position: left center;
	background-repeat: no-repeat;
	border: none;
	margin-top: 0;
	min-height: 167px;
	padding-top: 38px;
	position: relative;
	text-align: center;

	h1 {
		border: none;
		color: #FFF;
		font-family: 'exo_2bold_italic', sans-serif;
		font-size: 24px;
		margin: 0 auto;
		max-width: 970px;
	}

	p {
		color: #FFF;
		font-size: 15px;
		margin: 0 auto;
		max-width: 970px;
	}

	@media (min-width: 768px) {
		margin-top: -68px;

		h1, p {
			text-align: left;
		}
	}

	@media (min-width: 992px) {
		background-position: center center;
	}
}
.page-sub-header {
	h2 {
		color: $tema;
		font-family: 'exo_2bold_italic', sans-serif;
		font-size: 24px;
		margin-bottom: 20px;
		margin-top: 0;
	}
}

.text-orange{
	color:$orange;
}

.title-footer{
	font-size:18px;
	font-family: 'Open Sans Condensed Bold',sans-serif;
}

.creditos{
	font-size:11px;
}

.card h1{
	font-family: trebuchet,sans-serif;
	margin-bottom:20px;
}

.fnt-20{
	font-size:20px;
}

.fnt-18{
	font-size:18px;
}

.trebuchet{
	font-family: trebuchet,sans-serif;
}

.text-inverse{
	color:#222;
}

.facebook{
	color: #FFF;

	.fa-square{
		color: #245E94
	}
}

.twitter{
	color:#FFF;

	.fa-square{
		color: #00ADE7;
	}
}

.google-plus{
	color:#FFF;

	.fa-square{
		color: #ED4240;
	}
}

h2, h3, h4,
.h3,
.h4{
	font-family: 'exo_2regular', sans-serif;
}
h3 {
	font-size: 20px;
}
h3.open,
h4.open {
	font-family: 'open_sansbold', sans-serif;
}

h4.open {
	font-size: 14px;
}
h2 span,
h3 span {
	font-family: 'sandy_literegular', cursive;
}