.card{
	margin-bottom:30px;

	.content{
		padding:10px;
		width: 100%;
	}

	.footer-card{
		padding-top:10px;
	}

	@media (min-width:$screen-sm-min){
		display:flex;

		.title-card{
			@include resumo(20px,1.3,1);
		}

		.content{
			// height:220px;
		}
	}

	@media (max-width:$screen-xs-max){
		max-width:220px;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:30px;

		.desc,.title-card{
			margin-bottom:10px;
		}
	}

	&.servico{
		.title-card{
			margin-bottom:5px;

			h1{
				@extend .title-internas;
			}
		}

		.foto{
			box-shadow: 5px 5px 0 $tema;
			width:220px;
			margin:0 auto;
		}

		@media (min-width:$screen-sm-min){

			.title-card{
				@include resumo(30px,1.3,1);
			}
			.desc{
				@include resumo(15px,1.3,5);
				margin-bottom:18px;
			}

			&:nth-child(even) {
				.content {
					order: 1;
				}
				> figure {
					order: 2;
				}
			}
		}

		.btn-transparent {
			border: 1px solid #FFF;
			border-radius: 0;
			max-width: 100%;
			width: 175px;

			&:focus,
			&:active {
				color: #fff;
			}

			&:hover {
				background-color: #FFF;
				color: $tema;
			}
		}
	}

	&.noticia {
		.title-card{
			margin-bottom:5px;

			h3 {
				font-family: 'RalewayBold', sans-serif;
				margin-top: 0;
			}
		}

		a.btn {
			font-family: 'RalewayBold', sans-serif;
		}

		@media (min-width:$screen-sm-min){
			.desc{
				@include resumo(14px,1.2,3);
			}
		}
	}

	&.unidade {
		.foto {
			box-shadow: 10px 0 0 #BB3437;
			border-radius: 50%;
			height: 134px;
			overflow: hidden;
			width: 134px;
		}
		.content {
			padding-left: 20px;

			h4 {
				font-family: 'open_sansbold', sans-serif;
				font-size: 14px;
			}
		}
	}
}