$icons: (
    'telefone': 0 0 10px 29px,
    'banner-prev': -10px 0 38px 38px,
    'banner-next': -48px 0 38px 38px,
    'servico-prev': 0px -38px 24px 37px,
    'servico-next': -24px -38px 24px 37px,
    'endereco': -48px -38px 20px 24px,
    'telefone-rodape': -68px -38px 21px 19px,
    'email': -89px -38px 19px 14px,
    'gv8': -48px -62px 66px 21px,
);

.icone{
    display:inline-block;
    background-image: url(#{$imgs}/sprites.png);
    background-repeat:no-repeat;
    vertical-align: middle;
}

@mixin sprites($icons) {
    @each $icon,$data in $icons{
        .icone.#{$icon}{
            width: nth($data,3);
            height: nth($data,4);
            background-position: #{nth($data,1)} #{nth($data,2)};
        }
    }
}

@include sprites($icons);