.topo {
	background-image: url(../imagens/estrutural/fundo-topo.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	min-height: 305px;

	&.index {
		background-image: none;
		min-height: auto;
	}

	.faixa-branca {
		background-color: #fff;
		padding: 0 40px 8px 40px;
		position: relative;
		box-shadow: 1px 1px 7px rgba(0,0,0,.3);
		margin-left: auto;
		margin-right: auto;
		z-index: 1;
	}

	.area-contato {
		font-family: 'exo_2regular', sans-serif;
		font-size: 14px;
		padding: 10px 0;
		display: flex;
		justify-content: space-between;

		span, .btn {
			display: inline-block;
			margin: 0 15px;
		}

		.icone {
			margin-right: 5px;
		}
	}
}


#menu{
	list-style:none;
	padding-left:0;
	margin-bottom:0;
	@include clearfix;

	li {
		padding: 0 10px;
	}
	a{
		display: block;
		font-family: 'exo_2regular', sans-serif;
		font-size: 14px;
		color:#BA3337;
		position: relative;

		&:after {
			content: '';
			background-color: $tema;
			height: 4px;
			width: 0;
			transition: all .2s linear;
			position: absolute;
			bottom: 0;
			left: 0;
			opacity: 0;
		}
	}

	li{
		&.active,
		&:hover{
			a{
				color:#1F1F2E;
				text-decoration:none;

				&:after {
					width: 100%;
					opacity: 1.0;
				}
			}
		}
	}
}

.chamadas-topo{
	.icon{
		float:left;
		margin-right:15px;
		margin-bottom:15px;
	}

	.title{
		font-weight:bold;
		margin-bottom:0;
	}
}