.btn-orange{
	@include button-variant(#FFF,$orange,$orange);
}
.btn-custom{
	@include button-variant(#FFF,$tema,$tema);
}
.img-responsive{
	display: inline-block;
}

.noround{
	border-radius:0;
}

.btn-outline-white{
	@include button-variant(#FFF,transparent,#FFF);
}
.btn-outline-red{
	@include button-variant($tema,transparent,$tema);
}

#goTop{
	position:fixed;
	right:10px;
	bottom:10px;
	background: rgba(#000,0.8);
	color:#FFF;
	border:none;
	padding:5px 10px;
	transition:all 0.6s linear;
	z-index:999;
	transform: translateY(300px);

	&.active{
		transform: translateY(0);
	}

	&:hover,
	&:focus{
		background: #000;
		box-shadow:0 0 15px $orange;
	}

	i{
		display: block;
		font-size:25px;
		margin-bottom:5px;
	}
}

.btn-inverse{
	@include button-variant($orange,#3C3C3C,#3C3C3C);
}

.rastro-de-pao{
	list-style:none;
	padding:0;
	margin-bottom:0;
	font-family: Trebuchet,sans-serif;
	font-weight:bold;

	li{
		display: inline-block;

		& + li:before{
			content:'/';
			display: inline-block;
			margin:0 10px;
		}

		&.active span,
		span{
			color:$orange;
		}
	}
}

.btn{
	white-space:normal;
}

.bar-grey{
	height:5px;
	background: #D6D6D6;
}

.wel-prod{
	.price{
		font-family: trebuchet,sans-serif;
		small{
			display: block;
			font-size:12px;
		}

		strong{
			font-size:20px;
			font-style:italic;
		}
	}
}

.col-md-20p {
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}