extend common/template.pug

block title
	title Sansim

block active
	-var active = 'depoimentos'
//-block active
block conteudo
	// CONTEUDO
	div.internas
		header.page-header
			h1 DEPOIMENTOS
		///-.page-header
		.container

			.lista-depoimentos
				-for(var x=0;x<4;x++)
					article.row.depoimento
						.col-sm-2
							label Nome:
						.col-sm-10
							p Ninguém da Silva
						.col-sm-2
							label Depoimento:
						.col-sm-10
							p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in 
				+paginacao

			form.form-depoimentos
				h3 Envie seu depoimento
				.row.mgt-20
					.col-sm-6
						.form-group.row
							label.col-xs-3 Nome:
							.col-xs-9: input.form-control(type="text",name="nome",required)
						.form-group.row
							label.col-xs-3 Telefone:
							.col-xs-9: input.form-control(type="tel",name="telefone")
						.form-group.row
							label.col-xs-3 E-mail:
							.col-xs-9: input.form-control(type="email",name="email",required)
					.col-sm-6
						.form-group.row
							label.col-xs-3 Mensagem:
							.col-xs-9: textarea.form-control(rows="6",name="descricao",required)
				.form-group.text-center
					button(type="submit").btn.btn-outline-white.btn-lg.btn-enviar Enviar
		// /.container
	// /div.internas

