extend common/template.pug

block title
	title Omega Saúde

block conteudo
	// CONTEUDO
	div.index
		// BANNER
		section.carousel#banner(data-interval="5000").slide
			.ctrls
				.clearfix
					a(href="#banner",data-carousel="prev"): i.icone.banner-prev
					a(href="#banner",data-carousel="next"): i.icone.banner-next
			.carousel-inner
				-for(var b=0;b<4;b++)
					if b % 2 == 0
						-var banner = 'imagens/banners/banner-1.jpg'
					else
						-var banner = 'imagens/banners/banner-2.jpg'
					// repete
					figure.item(class=b==0?'active' : '')
						a(href="#")
							if(b==0)
								img(src=banner,alt="nome/descricao",class="img-responsive")
							else
								lazyimage(data-src=banner,data-alt="nome/descricao",data-class="img-responsive")
					// fim repete
			// /.carousel-inner
		// /section.carousel#banner(data-interval="5000")

		section.area-blocos
			.container
				.blocos
					article.bloco-1
						h3 Equipe #[span qualificada]
						div.chamada: p Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos.
					article.bloco-2
						h3 Ambulatório #[span moderno]
						div.chamada: p Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos.
					article.bloco-3
						h3 Resgate e Remoção #[span eficaz]
						div.chamada: p Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos.
		// fim da área-blocos

		section.area-sobre
			.container
				.row
					.col-md-7
						header.section-header
							h3 A OMEGA SERVIÇOS EM SAÚDE
						h2 Nossa #[span historia]
						div.chamada
							p A OMEGA é uma empresa especializada em soluções de serviços complementares à saúde, no atendimento de REMOÇÕES e AMBULATÓRIOS MÉDICOS.
							p Sua assistência está dirigida em emergências médicas, ou seja, situações que implicam em risco de vida,e solução de serviços médicos aos funcionários, através de um ambulatório dentro da sua empresa.
						a(href="sobre-nos.html").saiba-mais Clique aqui e saiba mais.
					// /.col-md-7
					.col-md-5.text-center
						figure
							img(src="imagens/conteudo/imagem-1.jpg",alt="imagem").img-responsive
					// /.col-md-5
		// fim da área-sobre

		section.area-servicos
			.container
				header.section-header
					h2 NOSSOS SERVIÇOS

				.owl-carousel#servicos.carousel-servicos
					-for(var c=0;c<4;c++)
						// repete
						.item
							if ((c%2)==0)
								a(href="servicos-detalhes.html")
									.nome Ambulatório para Empresas
									figure.foto
										lazyimage(data-src="imagens/conteudo/servico-1.png",data-alt="imagem do serviço",data-class="img-responsive")
									// /figure.foto
									.desc Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos.
									span.btn.btn-outline-white SAIBA MAIS
							else
								a(href="servicos-detalhes.html")
									.nome Resgate e Remoção
									figure.foto
										lazyimage(data-src="imagens/conteudo/servico-2.png",data-alt="imagem do serviço",data-class="img-responsive")
									// /figure.foto
									.desc Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos.
									span.btn.btn-outline-white SAIBA MAIS
						// fim repete item
				// /.owl-carousel#servicos
		// fim da area-servicos

		section.area-depoimentos
			.container
				header
					h2.text-center O QUE NOSSOS CLIENTES DIZEM SOBRE NÓS

				.owl-carousel#depoimentos.carousel-depoimentos
					-for(var c=0;c<3;c++)
						// repete
						.item
							.depoimento
								| Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. 	.
							h3 Nome do Cliente/Empresa
						// fim repete
				// /.owl-carousel#depoimentos
		// fim da area-depoimentos

	// /main.index