extend common/template.pug

block title
	title Omega Saúde

block active
	-var active = 'servicos'
//-block active

block conteudo
	// CONTEUDO
	div.internas
		header.page-header
			h1 SERVIÇOS
		///-.page-header
		.container

			.lista-servicos.row
				-for(var x=0;x<4;x++)
					.col-sm-6
						article.servico
							if ((x%2)==0)
								a(href="servicos-detalhes.html")
									.nome Ambulatório para Empresas
									figure.foto
										lazyimage(data-src="imagens/conteudo/servico-1.png",data-alt="imagem do serviço",data-class="img-responsive")
									// /figure.foto
									.desc Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos.
									span.btn.btn-outline-red SAIBA MAIS
							else
								a(href="servicos-detalhes.html")
									.nome Resgate e Remoção
									figure.foto
										lazyimage(data-src="imagens/conteudo/servico-2.png",data-alt="imagem do serviço",data-class="img-responsive")
									// /figure.foto
									.desc Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos.
									span.btn.btn-outline-red SAIBA MAIS
			// /.row
			+paginacao
		// /.container
	// /div.internas