extend common/template.pug

block title
	title Omega Saúde

block active
	-var active = 'unidades'
//-block active

block conteudo
	// CONTEUDO
	div.internas
		header.page-header
			h1 UNIDADES
		///-.page-header
		.container

			header.page-sub-header: h2 MATRIZ

			.item-unidade.mgb-20
				h4.open Paulínia- SP (Matriz)
				p Av.Dr Heitor Nascimento, 196 –Bl A –SL.12
				p Centro – CEP: 13.140-970
				p Fone: (19)3844-4228

			.mapa-google.mapa-unidade#mapa-matriz
				script.
					window.onload = function(){
						document.getElementById('mapa-matriz').innerHTML = '<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14701.670031991538!2d-49.6248181!3d-22.897966450000002!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1451912678972" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>';
					}

			.lista-unidades
				// filial
				article.panel.panel-transparent
					header.panel-heading
						// colocar classe collapsed se estiver fechado
						a(href="#unidade-0",data-toggle="collapse")
							i.fa.fa-toggle-down
							i.fa.fa-toggle-up
							span Aracajú – SE
					// colocar classe in se estiver aberto
					.panel-body.collapse.in(id="unidade-0")
						.item-unidade
							h4 Aracajú – SE (Filial)
							p Av. Gonçalo Prado Rolemberg, 1630 –SL. 05
							p São José – CEP: 49.015-230
							p Fone: (79) 3023-3325
						.mapa-google.mapa-unidade#mapa-0
							script.
								window.onload = function(){
									document.getElementById('mapa-0').innerHTML = '<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14701.670031991538!2d-49.6248181!3d-22.897966450000002!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1451912678972" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>';
								}
				// fim da filial
				// filial
				article.panel.panel-transparent
					header.panel-heading
						// colocar classe collapsed se estiver fechado
						a(href="#unidade-1",data-toggle="collapse").collapsed
							i.fa.fa-toggle-down
							i.fa.fa-toggle-up
							span Belo horizonte/BH
					// colocar classe in se estiver aberto
					.panel-body.collapse(id="unidade-1")
						.item-unidade
							h4 Belo horizonte/BH (Filial)
							p Av. Gonçalo Prado Rolemberg, 1630 –SL. 05
							p São José – CEP: 49.015-230
							p Fone: (79) 3023-3325
						.mapa-google.mapa-unidade#mapa-1
							script.
								window.onload = function(){
									document.getElementById('mapa-1').innerHTML = '<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14701.670031991538!2d-49.6248181!3d-22.897966450000002!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1451912678972" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>';
								}
				// fim da filial
				// filial
				article.panel.panel-transparent
					header.panel-heading
						// colocar classe collapsed se estiver fechado
						a(href="#unidade-2",data-toggle="collapse").collapsed
							i.fa.fa-toggle-down
							i.fa.fa-toggle-up
							span Belo horizonte/BH
					// colocar classe in se estiver aberto
					.panel-body.collapse(id="unidade-2")
						.item-unidade
							h4 Belo horizonte/BH (Filial)
							p Av. Gonçalo Prado Rolemberg, 1630 –SL. 05
							p São José – CEP: 49.015-230
							p Fone: (79) 3023-3325
						.mapa-google.mapa-unidade#mapa-2
							script.
								window.onload = function(){
									document.getElementById('mapa-2').innerHTML = '<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14701.670031991538!2d-49.6248181!3d-22.897966450000002!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1451912678972" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>';
								}
				// fim da filial
		// /.container
	// /div.internas
